@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital@1&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: hsl(0deg, 0%, 98%);
  line-height: inherit;
  font-family: "Open Sans", sans-serif;
}

.heading--primary {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 4.5rem;
  word-wrap: break-word;
}
.heading--secondary {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 3rem;
}

.paragraph {
  color: hsl(227deg, 12%, 61%);
  font-size: 1.5rem;
  margin-bottom: 4rem;
  word-wrap: break-word;
}

.u-margin-right {
  margin-right: 3rem;
}
@media only screen and (max-width: 61.19em) {
  .u-margin-right {
    margin-right: 0;
  }
}

.u-margin-left {
  margin-left: 4rem;
}
@media only screen and (max-width: 61.19em) {
  .u-margin-left {
    margin-left: 0;
  }
}

.btn {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.btn--orange {
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(12deg, 88%, 59%);
}
.btn--orange:hover {
  color: hsl(12deg, 88%, 59%);
  background-color: hsl(0deg, 0%, 98%);
}
.btn--white {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(12deg, 88%, 59%);
}
.btn--white:hover {
  background-color: hsl(12deg, 88%, 59%);
  color: hsl(0deg, 0%, 98%);
}

.footer {
  background-color: hsl(233deg, 12%, 13%);
  display: flex;
  justify-content: space-between;
  padding: 4rem 8rem;
}
.footer__links:link, .footer__links:active {
  text-decoration: none;
  color: hsl(0deg, 0%, 98%);
  font-size: 1.5rem;
}
.footer__links .social {
  height: 3rem;
  margin-right: 1rem;
}
.footer__navs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__navs--justify {
  justify-content: space-between;
}
.footer__navs .footer__links {
  margin-bottom: 1rem;
}
.footer__copyright {
  color: hsl(0deg, 0%, 98%);
  font-size: 1.25rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  font-family: inherit;
  font-size: 1.5rem;
  color: hsl(227deg, 12%, 61%);
  background-color: hsl(0deg, 0%, 98%);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: 2rem;
}
.search:focus {
  outline: none;
  width: 100%;
}
.search__btn {
  background-color: hsl(12deg, 88%, 59%);
  color: hsl(228deg, 39%, 23%);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  border: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.search__btn:hover {
  background-color: hsl(0deg, 0%, 98%);
}

.header {
  height: 7rem;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: hsl(0deg, 0%, 98%);
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.navbar {
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.navbar__item {
  padding: 0 1.5rem;
}
.navbar__link:link, .navbar__link:visited {
  text-decoration: none;
  color: hsl(228deg, 39%, 23%);
  transition: all 0.2s;
}
.navbar__link:hover {
  transform: translateY(-1rem) scale(1.3);
}

@media only screen and (max-width: 68.75em) {
  .info {
    flex: 2 1 auto;
  }
}

@media only screen and (max-width: 61.19em) {
  .stats {
    width: 80rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .stats {
    width: 90%;
  }
}

.feature__holder {
  display: flex;
}
.feature__no {
  background-color: hsl(12deg, 88%, 59%);
  color: hsl(0deg, 0%, 98%);
  font-size: 2rem;
  font-weight: 600;
  height: 3.5rem;
  margin-right: 1.5rem;
  padding: 0.5rem 3rem;
  border-radius: 3rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: 14%;
}
.feature__texts {
  margin-left: 15.3%;
  width: 85%;
}
@media only screen and (max-width: 61.19em) {
  .feature {
    display: block;
  }
}

.reviews {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}
@media only screen and (max-width: 61.19em) {
  .reviews {
    flex-direction: column;
  }
}

.review {
  height: 40rem;
  background-color: hsl(13deg, 100%, 96%);
  padding: 2.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.review:not(:last-child) {
  margin-right: 3.5rem;
}
@media only screen and (max-width: 61.19em) {
  .review {
    width: fit-content;
    margin: 0 0 3.5rem 0 !important;
  }
}

.signup {
  background-color: hsl(12deg, 88%, 59%);
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}
.signup__text {
  color: hsl(0deg, 0%, 98%);
  font-size: 3.8rem;
  font-weight: 800;
  margin-right: 5rem;
}
@media only screen and (max-width: 61.19em) {
  .signup__text {
    margin: 0 0 4rem 0;
  }
}
@media only screen and (max-width: 61.19em) {
  .signup {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2.5rem;
  }
}

.section-hero {
  display: flex;
  justify-content: center;
  padding: 3rem 8rem;
  margin-top: 6rem;
}
@media only screen and (max-width: 61.19em) {
  .section-hero {
    flex-wrap: wrap-reverse;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-hero {
    padding: 3rem 2rem;
  }
}

.section-product {
  display: flex;
  justify-content: center;
  padding: 3rem 8rem;
  margin-top: 6rem;
}
@media only screen and (max-width: 61.19em) {
  .section-product {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.section-reviews {
  text-align: center;
  padding: 6rem 8rem;
}
@media only screen and (max-width: 37.5em) {
  .section-reviews {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
