// COLORS
$redDark: hsl(12, 88%, 59%);
$redLight: hsl(12, 88%, 69%);
$darkBlue: hsl(228, 39%, 23%);
$darkGrayishBlue: hsl(227,12%, 61%);
$dark: hsl(233, 12%, 13%);
$light-1: hsl(12, 88%, 95%);
$light-2: hsl(13, 100%, 96%);
$light-3: hsl(0, 0%, 98%);