@use "../abstracts/variables" as v;

.btn {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1.5rem 4rem rgba(v.$black, 0.15);

  &--orange {
    color: v.$light-3;
    background-color: v.$orangeDark;

    &:hover {
      color: v.$orangeDark;
      background-color: v.$light-3;
    }
  }

  &--white {
    background-color: v.$light-3;
    color: v.$orangeDark;

    &:hover {
      background-color: v.$orangeDark;
      color: v.$light-3;
    }
  }
}
