.about {
  margin-right: 2.5rem;
}

.feature {
  display: flex;

  &__no {
    background-color: $orangeDark;
    color: $light-3;
    font-size: 2rem;
    font-weight: 600;
    height: 3.5rem;
    margin-right: 2rem;
    padding: 0.5rem 3rem;
    border-radius: 3rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
  }
}
