.section-hero {
  display: flex;
  justify-content: center;
  padding: 3rem 8rem;
  margin-top: 6rem;

  @media only screen and (max-width: $bp-medium) {
    // flex-direction: column;
    // padding: 3rem 0;
    flex-wrap: wrap-reverse;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 3rem 2rem;
  }
}

.section-product {
  display: flex;
  justify-content: center;
  padding: 3rem 8rem;
  margin-top: 6rem;

  @media only screen and (max-width: $bp-medium) {
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.section-reviews {
  text-align: center;
  padding: 6rem 8rem;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}
