@use "../abstracts/variables" as v;

.section {
  padding: 13rem 7rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}

.section-hero {
  display: flex;
  // justify-content: center;
  // padding: 3rem 8rem;
  // margin-top: 6rem;

  align-content: center;
  justify-content: center;

  align-items: center;

  @media only screen and (max-width: v.$bp-medium) {
    // flex-direction: column;
    // padding: 3rem 0;
    flex-wrap: wrap-reverse;
    // padding: 3rem 2rem;
  }
}

.section-product {
  display: flex;
  justify-content: center;
  // padding: 3rem 8rem;
  // margin-top: 6rem;

  @media only screen and (max-width: v.$bp-medium) {
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.section-reviews {
  text-align: center;
  // padding: 6rem 8rem;

  @media only screen and (max-width: v.$bp-small) {
    flex-direction: column;
  }
}
